@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #444;
}

a {
  color: #127cc1;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #222;
}

code, pre {
  border-radius: 2px;
  background: #f4f4f4;
  color: #333;
  font-family: "Roboto Mono", monospace;
  font-size: small;
}

:not(pre) > code {
  padding: 2px 4px;
  /* vertical-align: text-bottom; */
}

pre {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}
